{% extends "main_django.html" %}
{% block title %}<title>hr_management</title>{% endblock %}

{% block body %}
	
	<h1>Template: courses.html </h1>
	<ul>
		<li>{{ message }}</li>
		<li>Requesting user:{{ user }}</li>
		<li>Microsite: {{ microsite }}</li>
		<li>Organizations: {{ organization }}</li>
		<li>Courses</li>
		<ol>
			{% for c in courses %}
				<li><a href="{% url 'course_detail' course_id=c.id.to_deprecated_string %}">{{ c.display_name }}</a></li>
			{% endfor %}
		</ol>
	</ul>
{% endblock %}
