<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<link rel="stylesheet" href="${static.url("css/hr-management-style.css")}" type="text/css" media="all" />
<%block name="pagetitle">${microsite} | HR Management</%block>


<section class="hr-management hr-management__wrapper">
	<div class="hr-management__container hr--index">
		<h2 class="hr--microsite-name">Currently managing <span>${microsite}</span> microsite, under ${organization} organization.</h2>
		<span class="hr--index__divider"></span>
		<h4 class="hr--instruction">Select one of the options below:</h4>
		<span class="hr--index__divider"></span>
		<ul class="hr--index__menu">
			<li>
				<a href="courses">
					<svg viewBox="0 0 24 24">
					  <path fill="#000000" d="M7,5H21V7H7V5M7,13V11H21V13H7M4,4.5A1.5,1.5 0 0,1 5.5,6A1.5,1.5 0 0,1 4,7.5A1.5,1.5 0 0,1 2.5,6A1.5,1.5 0 0,1 4,4.5M4,10.5A1.5,1.5 0 0,1 5.5,12A1.5,1.5 0 0,1 4,13.5A1.5,1.5 0 0,1 2.5,12A1.5,1.5 0 0,1 4,10.5M7,19V17H21V19H7M4,16.5A1.5,1.5 0 0,1 5.5,18A1.5,1.5 0 0,1 4,19.5A1.5,1.5 0 0,1 2.5,18A1.5,1.5 0 0,1 4,16.5Z" />
					</svg>
					<span>Courses List</span>
				</a>
			</li>
			<li>
				<a href="users">
					<svg viewBox="0 0 24 24">
					  <path fill="#000000" d="M1.5,4V5.5C1.5,9.65 3.71,13.28 7,15.3V20H22V18C22,15.34 16.67,14 14,14C14,14 13.83,14 13.75,14C9,14 5,10 5,5.5V4M14,4A4,4 0 0,0 10,8A4,4 0 0,0 14,12A4,4 0 0,0 18,8A4,4 0 0,0 14,4Z" />
					</svg>
					<span>Microsite Access Requests</span>
				</a>
			</li>
		</ul>
	</div>
</section>
