// ------------------------------
// // Open edX Certificates: Base

// About: Base resets and definitons (using shared resources from elements when appropriate).

// ------------------------------
// #RESET
// ------------------------------

// ------------------------------
// #BASE
// ------------------------------
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: $white;
}

// ------------------------------
// #TYPOGRAPHY
// ------------------------------

//adapted from Bootstrap
.dl-horizontal {
    dt {
      float: left;
      width: (spacing-horizontal(large) - 20);
      clear: left;
      // text-align: right;
      @include cont-truncated();
    }
    dd {
      margin-left: spacing-horizontal(large);
      @include clearfix(); // Clear the floated `dt` if an empty `dd` is present
    }
  }