## mako
<%namespace name='static' file='static_content.html'/>
<%!
from microsite_configuration import microsite
%>
<%
theme_enabled = settings.FEATURES.get("USE_CUSTOM_THEME", False)
is_microsite = microsite.is_request_in_microsite()
%>

<% is_anonymous = user.is_anonymous() %>


% if not is_anonymous:

<% testdrive_expiration_enforced = settings.ENFORCE_TESTDRIVE_EXPIRATION %>
<% testdrive_expired = user.profile.is_testdrive_expired() %>
<% days_til_testdrive_expires = user.profile.days_til_testdrive_expires() %>


% if testdrive_expiration_enforced:
    % if testdrive_expired:
    <span style="position: absolute; top: 0; left: 0; padding: 15px; font-size: 14px; background-color: #e74c3c; display: block; width: 100%; color: #fff; font-family: sans-serif;">Your Appsembler Open edX Test Drive has <strong>expired!</strong> Please <a href="http://www.appsembler.com/contact/" style="font-weight:bolder; color: #fff;">let us know about your experience or if you want to extend your Test Drive.</a>.</span><span style="display: block; height: 46px; width: 100%;"></span>
    % else:
        <span style="padding: 15px; font-size: 14px; background-color: #0090c1; display: block; width: 100%; color: #fff; font-family: sans-serif;">Your Appsembler Open edX Test Drive <strong>expires</strong> in: <strong>${days_til_testdrive_expires}</strong> days.</span>
    % endif
% endif

% endif

% if theme_enabled and not is_microsite:
  <%include file="theme-header.html" />
% else:
  <%include file="${microsite.get_template_path('navigation.html')}" />
% endif
