<%! from django.utils.translation import ugettext as _ %>
<section class="dashboard-banner">
    <h2 class="title msg">${_("Thanks For Registering!")}</h2>
    <p class='msg activation-message'>${_(
            "You've successfully created an {platform_name} account. We've sent an account "
            "activation message to {email}. To activate your account and start enrolling in "
            "courses, click the link in the message."
            ).format(email="<strong>{}</strong>".format(email), platform_name=platform_name
        )}
    </p>
</section>